body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 50%; /* Make the container skinnier */
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #054d4a;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="range"] {
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="range"] {
    width: 100%;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
    font-size: 16px;
    font-weight: bold;
    color: #054d4a;
}

button {
    padding: 12px 25px;
    background-color: #054d4a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #046d69;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #054d4a;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

label, span {
    display: inline-block;
    margin-right: 10px;
}

.go-back {
    text-align: center;
    margin-top: 20px;
}

.go-back button {
    padding: 10px 20px;
    background-color: #054d4a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.go-back button:hover {
    background-color: #046d69;
}

.tracks-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tracks-list li {
    display: flex; /* Align track name and artists horizontally */
    align-items: center; /* Vertically center the content */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: left; /* Align text to the left */
}

.tracks-list li a {
    color: #054d4a;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px; /* Add space between song name and artist(s) */
}

.tracks-list .artists {
    font-size: 14px;
    color: #054d4a;
    display: inline; /* Ensure artists are displayed inline */
}

.tracks-list .artists a {
    color: #054d4a;
    text-decoration: none;
    padding: 0 5px;
    font-weight: normal;
}
