<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genify: Playlist Enhancer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Genify: Playlist Enhancer</h1>
        <p>Enter a Spotify playlist URL to generate your playlist details and recommendations.</p>
    </header>

    <main>
        <form action="/result" method="POST">
            <label for="playlist_url">Spotify Playlist URL:</label>
            <input type="text" name="spotify_url" placeholder="https://open.spotify.com/playlist/..." required>
            
            <button type="submit">Genify</button>
        </form>

        <!-- Display Error Message if Available -->
        <div class="error-message">
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
        </div>
    </main>

    <footer>
        <p>By Ethan Greenhouse</p>
    </footer>
</body>
</html>
