/* Reset some basic styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Layout */
header {
    background-color: #2d2d2d;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

button {
    background-color: #1db954; /* Spotify green */
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1ed760; /* Lighter green */
}

input[type="url"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

input[type="url"]:focus {
    outline: none;
    border: 2px solid #1db954;
}

ul.playlist {
    list-style-type: none;
    padding: 0;
}

ul.playlist li {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

h1, h2 {
    font-size: 24px;
}

h2 {
    margin-top: 20px;
    font-size: 20px;
}

footer p {
    font-size: 12px;
}
